<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- title banner -->
<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-3028179090690423" data-ad-slot="1872585195"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<ins class="scupioadslot" style="display:inline-block;width:728px;height:90px;" data-sca-pub="lQANGBc/THIQEQ==" data-sca-web="4548" data-sca-category="16" data-sca-cid="14943" data-sca-width="728px" data-sca-height="90px" data-sca-background-color="#fbd5b5"
    data-sca-title-color="#0000ff" data-sca-title-font-family="Microsoft JhengHei" data-sca-title-font-size="16px" data-sca-description-color="#333333" data-sca-description-font-family="Microsoft JhengHei" data-sca-description-font-size="12px" data-sca-mobile-font-size="28px"
    data-sca-border-color="#d8d8d8"></ins>
<script async src="//img.scupio.com/js/ad.js"></script>