<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/zoom.js"></script>
<script>
    // Google Ads
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3028179090690423",
        enable_page_level_ads: true
    });
    (adsbygoogle = window.adsbygoogle || []).push({});
    (adsbygoogle = window.adsbygoogle || []).push({});

    // Facebook Ads
    window.fbAsyncInit = function() {
        FB.init({
            appId: '636566956443735',
            xfbml: true,
            version: 'v2.3'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // 內容當中，所有物件皆可開啟 zoom.js 功能
    // $(document).ready(function() {
    //   document.querySelector('.content').addEventListener('click', function(event) {
    //       event.preventDefault();
    //       zoom.to({
    //           element: event.target
    //       });
    //   });
    // });

    // 內容當中，凡是圖片，皆開啟 zoom.js 功能
    $('.content img').click(
        function(event) {
            event.preventDefault();
            zoom.to({
                element: event.target
            });
        }
    );

    // 內容當中，凡是程式碼演示，皆開啟 zoom.js 功能
    // $('.content pre').click(
    //   function(event) {
    //     event.preventDefault();
    //     zoom.to({
    //       element: event.target
    //     });
    //   }
    // );
</script>