<div class="message">
    <img class="profile" src="/public/profile.jpg" alt="profile-image">
    <div class="intro-message">
        <p>你好，這裡是乾太(Kantai)。</p>
        <ul>
            <li><a href="https://play.google.com/store/apps/details?id=com.baham.furrypock&hl=tw">《摸摸獸圈圈》</a>Android 開發者</li>
            <li><a href="https://kaobei.engineer">《純靠北工程師》</a>開發者</li>
            <li><a href="https://itunes.apple.com/cn/app/臺灣鐵路go/id1439012835">《臺灣鐵路GO》</a>iOS 開發者</li>
        </ul>

        <p>目前經營的技術部落格：</p>
        <ul>
            <li><a href="https://kantai235.github.io/">【GitHub.io】</a> 乾太 Kantai．這裡記錄著我的大小事。</li>
            <li><a href="https://pressplay.cc/project/about/%E7%B4%94%E9%9D%A0%E5%8C%97%E5%B7%A5%E7%A8%8B%E5%B8%AB%20|%20%E7%9C%8B%E8%91%97%E7%89%88%E4%B8%BB%E9%96%8B%E7%99%BC%EF%BC%8C%E6%88%91%E6%85%A2%E6%85%A2%E7%9A%84%E5%A5%BD%E5%83%8F%E4%B9%9F%E8%AE%8A%E6%88%90%E5%B7%A5%E7%A8%8B%E5%B8%AB%E4%BA%86%EF%BC%81/692E0CA3A192347C7A36E922ADD52536">【PressPlay】</a> 純靠北工程師 | 看著版主開發，我慢慢的好像也變成工程師了！</li>
            <li><a href="https://medium.com/@kantai_developer">【Medium】</a> 乾太 Kantai．我在人間當工程師。</li>
        </ul>
    </div>
</div>