<div class="message">
    <img class="profile" src="/public/profile.jpg" alt="profile-image">
    <div class="intro-message">
        <p>你好，這裡是乾太(Kantai)。</p>
        <ul>
            <li><a href="https://play.google.com/store/apps/details?id=com.baham.furrypock&hl=tw">《摸摸獸圈圈》</a>Android 開發者</li>
            <li><a href="https://kaobei.engineer">《純靠北工程師》</a>開發者</li>
            <li><a href="https://itunes.apple.com/cn/app/臺灣鐵路go/id1439012835">《臺灣鐵路GO》</a>iOS 開發者</li>
        </ul>

        <p>目前經營的技術部落格：</p>
        <ul>
            <li><a href="https://kantai235.github.io/">【GitHub.io】</a> 乾太 Kantai．這裡記錄著我的大小事。</li>
            <li><a href="https://pressplay.cc/kaobei.engineer">【PressPlay】</a> 純靠北工程師 | 看著版主開發，我慢慢的好像也變成工程師了！</li>
            <li><a href="https://medium.com/@kantai_developer">【Medium】</a> 乾太 Kantai．我在人間當工程師。</li>
        </ul>
    </div>
</div>