<div class="message">
    <img class="profile" src="/public/profile.png" alt="profile-image">
    <div class="intro-message">
        你好，我是一位好不容易終於把大學的專題製作以及學校各種計劃給收尾，準備從大學裡頭畢業，正要展開燦爛黃金人生時，卻又因為家裡住台南，而邀請面試的公司卻又通通在台北，因此從彩虹天堂墜落到地獄深淵的乾太，目前正在努力找工作當中。
    </div>
</div>

<script src="{{ site.baseurl }}public/js/zoom.js"></script>
<script>
    // 內容當中，所有物件皆可開啟 zoom.js 功能
    // $(document).ready(function() {
    //   document.querySelector('.content').addEventListener('click', function(event) {
    //       event.preventDefault();
    //       zoom.to({
    //           element: event.target
    //       });
    //   });
    // });

    // 內容當中，凡是圖片，皆開啟 zoom.js 功能
    $('.content img').click(
        function(event) {
            event.preventDefault();
            zoom.to({
                element: event.target
            });
        }
    );

    // 內容當中，凡是程式碼演示，皆開啟 zoom.js 功能
    // $('.content pre').click(
    //   function(event) {
    //     event.preventDefault();
    //     zoom.to({
    //       element: event.target
    //     });
    //   }
    // );
</script>