{{/* RSS 和 JSON Feed 連結 */}}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/index.xml">
<link rel="alternate" type="application/feed+json" title="JSON Feed" href="/index.json">

{{/* 額外的 SEO Meta Tags */}}
<meta name="twitter:card" content="summary_large_image">

{{/* Preconnect for performance */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{{/* JavaScript 文件 */}}
{{ $yearFilter := resources.Get "js/year-filter.js" }}
{{ if $yearFilter }}
<script defer src="{{ $yearFilter.RelPermalink }}"></script>
{{ end }}

{{ $lazyLoading := resources.Get "js/lazy-loading.js" }}
{{ if $lazyLoading }}
<script defer src="{{ $lazyLoading.RelPermalink }}"></script>
{{ end }}