<!--
  自訂短代碼：social-links
  功能說明：從 data/social.json 讀取社群媒體連結資料，
  以分類方式（主要連結 / 其他連結）呈現社群平台圖示與超連結。
-->
{{/* Social Links Shortcode */}}
{{ $mainTitle := .Get "mainTitle" | default "" }}
{{ $othersTitle := .Get "othersTitle" | default "" }}

{{/* 載入社群連結資料 */}}
{{ $social := site.Data.social }}

{{/* 樣式已抽離至 assets/css/custom.css 的「社群連結元件樣式」區段 */}}

{{/* 主要社群連結 */}}
{{ if $social.main }}
  {{ if $mainTitle }}
    <h3>{{ $mainTitle }}</h3>
  {{ end }}
  <div class="social-buttons">
    {{ range $social.main }}
      <a href="{{ .url }}" target="_blank" class="btn btn-{{ .id }}">
        {{ partial "icon.html" .icon }} {{ .name }}
      </a>
    {{ end }}
  </div>
{{ end }}

{{/* 其他社群連結 */}}
{{ if $social.others }}
  {{ if $othersTitle }}
    <h3>{{ $othersTitle }}</h3>
  {{ end }}
  <div class="social-buttons">
    {{ range $social.others }}
      <a href="{{ .url }}" target="_blank" class="btn btn-{{ .id }}">
        {{ partial "icon.html" .icon }} {{ .name }}
      </a>
    {{ end }}
  </div>
{{ end }}